@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scroll-smooth scroll-pt-12;
    }

    * {
        @apply !box-border font-manrope;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1.5 h-2;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-dark-500 hover:bg-dark-600 rounded-full;
    }
}

@layer components {
    .container {
        @apply relative mx-auto max-w-xs md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-xl 3xl:max-w-screen-2xl;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
