@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scroll-smooth scroll-pt-12;
    }

    * {
        @apply !box-border font-manrope;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1.5 h-2;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-dark-700;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-dark-500 hover:bg-dark-600 rounded-full;
    }

    :root {
        --toastify-color-dark: theme(colors.dark.700) !important;
        --toastify-color-success: theme(colors.green.500) !important;
        --toastify-color-warning: theme(colors.yellow.500) !important;
        --toastify-color-error: theme(colors.red.500) !important;
    }
}

@layer components {
    .container {
        @apply relative mx-auto max-w-xs md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-xl 3xl:max-w-screen-2xl;
    }

    .ts-xs {
        @apply text-xs font-medium leading-5;
    }

    .ts-sm {
        @apply text-sm font-medium leading-5;
    }

    .ts-base {
        @apply text-base font-medium leading-6;
    }

    .ts-xl {
        @apply text-xl font-semibold leading-8 max-xl:text-lg max-xl:leading-6;
    }

    .ts-2xl {
        @apply text-2xl font-bold leading-8 max-xl:text-xl max-xl:leading-6;
    }

    .heading-4 {
        @apply text-3xl font-bold leading-10 max-xl:text-2xl max-xl:leading-8;
    }

    .heading-3 {
        @apply text-4xl font-bold leading-[48px] max-xl:text-3xl max-xl:leading-10;
    }

    .heading-2 {
        @apply text-5xl font-bold leading-[64px] max-xl:text-4xl max-xl:leading-[48px];
    }

    .heading-1 {
        @apply text-6xl font-extrabold leading-[80px];
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    
    .animate-fade-up {
        animation: animate-fade-up .5s ease-out;
    }
    
    @keyframes animate-fade-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-shimmer {
        @apply relative overflow-hidden;
    }

    .animate-shimmer::after {
        @apply absolute inset-0 bg-gradient-to-r from-transparent via-dark-50/5 to-transparent;
        transform: translateX(-100%);
        animation: animate-shimmer 2s infinite;
        content: "";
    }

    @keyframes animate-shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.EasyMDEContainer .editor-toolbar {
    @apply !bg-dark-600 !border-none rounded-t-lg;
}

.EasyMDEContainer .editor-toolbar button.active,
.EasyMDEContainer .editor-toolbar button:hover {
    @apply !bg-dark-500 border-none;
}

.EasyMDEContainer .editor-toolbar button:hover {
    @apply !opacity-75;
}

.EasyMDEContainer .CodeMirror,
.EasyMDEContainer .editor-preview {
    @apply !bg-dark-500 text-dark-50 !border-none !rounded-b-lg;
}

.EasyMDEContainer .editor-statusbar {
    @apply !text-dark-50;
}

.EasyMDEContainer .editor-preview {
    @apply prose prose-invert;
}
