@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scroll-smooth scroll-pt-12;
    }

    * {
        @apply !box-border font-manrope;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1.5 h-2;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-dark-500 hover:bg-dark-600 rounded-full;
    }
}

@layer components {
    .container {
        @apply relative mx-auto max-w-xs md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-xl 3xl:max-w-screen-2xl;
    }
    
    .ts-xs {
        @apply text-xs font-manrope font-medium leading-5;
    }
    
    .ts-sm {
        @apply text-sm font-manrope font-medium leading-5;
    }
    
    .ts-base {
        @apply text-base font-manrope font-medium leading-6;
    }
    
    .ts-xl {
        @apply text-xl font-manrope font-semibold leading-8;
    }
    
    .ts-2xl {
        @apply text-2xl font-manrope font-bold leading-8;
    }
    
    .heading-4 {
        @apply text-3xl font-manrope font-bold leading-10;
    }
    
    .heading-3 {
        @apply text-4xl font-manrope font-bold leading-[48px];
    }
    
    .heading-2 {
        @apply text-5xl font-manrope font-bold leading-[64px];
    }
    
    .heading-1 {
        @apply text-6xl font-manrope font-extrabold leading-[80px];
    }
    
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.EasyMDEContainer .editor-toolbar {
    @apply !bg-dark-600 !border-none rounded-t-lg;
}

.EasyMDEContainer .editor-toolbar button.active,
.EasyMDEContainer .editor-toolbar button:hover {
    @apply !bg-dark-500 border-none;
}

.EasyMDEContainer .editor-toolbar button:hover {
    @apply !opacity-75;
}

.EasyMDEContainer .CodeMirror,
.EasyMDEContainer .editor-preview {
    @apply !bg-dark-500 text-dark-50 !border-none !rounded-b-lg;
}

.EasyMDEContainer .editor-statusbar {
    @apply !text-dark-50;
}

.EasyMDEContainer .editor-preview {
    @apply prose prose-invert;
}
